<div class="container">
  <input [(ngModel)]="userFilterText" placeholder="Filter Users">
</div>
<!-- Calls the getter on the service -->
<div class="container" [hidden]="!(selectedUser$ | async)">
  <app-user [user]="(selectedUser$ | async)" [(showLarge)]="isTheSelectedUserLarge"></app-user>
</div>
<div class="container">
  <p *ngIf="isLoading$ | async">Loading...</p>
  <app-user
    *ngFor="let userListEntry of (userList$ | async) | filterUsers: userFilterText"
    [user]="userListEntry"
    (userSelected)="selectUser(userListEntry)">
  </app-user>
</div>
